.select-root {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    transition: all .2s;
    padding-left: 5px;
}
.select-root .select-element {
    width: 98%;
    height: 95%;
    border: none;

}
.select-root .select-element:focus {
    border: none;
    outline: none;
}

.select-root:hover {
    border: 1px solid #0C847E;
    fill: #0C847E;
}
.select-root.selected {
    border: 1px solid #0C847E;
    fill: #0C847E;
}
.select-root.error {
    border: 1px solid red;
    fill: red;
}