
.root-root .input-root {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    transition: all .2s;
    padding-left: 5px;
    width: 100%;
}
.root-root .input-root .prefix {
    max-width: 15px;
    max-height: 15px;
}

.root-root .input-root .input-field {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.root-root .input-root .input-field:focus {
    border: none;
    outline: none;
}
.root-root .input-root .input-field.isPrefix {
    padding-left: 5px;
}


.root-root .input-root:hover {
    border: 1px solid #0C847E;
    fill: #0C847E;
}
.root-root .input-root.selected {
    border: 1px solid #0C847E;
    fill: #0C847E;
}
.root-root .input-root.error {
    border: 1px solid red;
    fill: red;
}


.root-root .dropdown {
    width: 100%;
    position: relative;
}

.root-root .dropdown .autocomplete {
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1;
}
.root-root .dropdown .autocomplete.autocomplete-shadow {
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.35);
-webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.35);
}